.q-label
  padding-right: 5px

.q-area
  height: 200px !important

.devision-line
  border-bottom: 2px solid #eee
  padding: 20px 0

.area-color
  background-color: #f8f8f8

.mt10
  margin-top: 20px


/* create action */
.c-content
  font-size: 20px

.c-btn
  margin-right: 10px